@mixin link {


.link {
          text-decoration: none;
          font-weight: bold;

         &:link {
            color: #00FFFF;
         }

         &:visited {
            color: #00FFFF;
         }

}
}         


@mixin nav-item {
	   a {
	     text-decoration: none;
	     &:link {
	       color: initial;
	     }

	     &:visited {
	       color: initial;
	     }
	   }

	   }


.img--frame {
	width: 99%;
}
	   