.grid__row {
  padding: 1em 10px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .grid__row {
      flex-direction: row; } }
.grid__col--1 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--1 {
      margin-top: 0;
      flex-basis: 8.3333333333%; } }
.grid__col--2 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--2 {
      margin-top: 0;
      flex-basis: 16.6666666667%; } }
.grid__col--3 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--3 {
      margin-top: 0;
      flex-basis: 25%; } }
.grid__col--4 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--4 {
      margin-top: 0;
      flex-basis: 33.3333333333%; } }
.grid__col--5 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--5 {
      margin-top: 0;
      flex-basis: 41.6666666667%; } }
.grid__col--6 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--6 {
      margin-top: 0;
      flex-basis: 50%; } }
.grid__col--7 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--7 {
      margin-top: 0;
      flex-basis: 58.3333333333%; } }
.grid__col--8 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--8 {
      margin-top: 0;
      flex-basis: 66.6666666667%; } }
.grid__col--9 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--9 {
      margin-top: 0;
      flex-basis: 75%; } }
.grid__col--10 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--10 {
      margin-top: 0;
      flex-basis: 83.3333333333%; } }
.grid__col--11 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--11 {
      margin-top: 0;
      flex-basis: 91.6666666667%; } }
.grid__col--12 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--12 {
      margin-top: 0;
      flex-basis: 100%; } }

@media (min-width: 768px) {
  [class^=grid__col] + [class^=grid__col] {
    margin-left: 10px; } }

.img--frame {
  border: 1px solid #DCDCDC;
  padding: 10px;
  margin-bottom: 20px; }

.img--frame {
  width: 99%; }

.img--frame {
  width: 99%; }

* {
  box-sizing: border-box; }

body {
  font-family: "Noto Serif", serif; }

.grid__col--3:not(.theme__colors) {
  text-align: center; }

.nav {
  list-style-type: none;
  padding: 0;
  text-align: center;
  max-width: 100%; }
  .nav li:first-child {
    background-color: #7FFFD4;
    border-radius: 5px; }
    .nav li:first-child a:link {
      color: white; }
    .nav li:first-child a:visited {
      color: white; }
  .nav li {
    padding: 20px; }
  .nav a {
    text-decoration: none; }
    .nav a:link {
      color: initial; }
    .nav a:visited {
      color: initial; }

.card {
  line-height: 1.5;
  padding: 10px; }
  .card .blockquote {
    font-size: 20px;
    font-style: italic;
    border-left: 10px solid #7FFFD4;
    border-radius: 5px;
    padding: 25px; }
  .card .headline--secondary {
    padding-left: 5px;
    font-weight: normal; }
  .card .headline--primary {
    color: #7FFFD4;
    padding-left: 30px; }
  .card p .link {
    text-decoration: none;
    font-weight: bold; }
    .card p .link:link {
      color: #00FFFF; }
    .card p .link:visited {
      color: #00FFFF; }

.container {
  width: 95%;
  margin: 0 auto; }

.form {
  display: flex;
  flex-direction: column; }
  .form .theme__colors {
    background-color: #00FFFF;
    color: white;
    border-radius: 5px;
    padding: 15px;
    border-style: none;
    text-transform: uppercase;
    font-weight: bold; }
  .form .img--avatar {
    align-self: center; }
  .form .form__input {
    border: none;
    border-bottom: 5px solid #7FFFD4;
    margin-left: 15px;
    margin-right: 15px; }
    .form .form__input[placeholder*="Username"] {
      margin-bottom: 50px; }
    .form .form__input[placeholder*="Password"] {
      margin-bottom: 20px; }
    .form .form__input::placeholder {
      opacity: 0; }
  .form .form__label--hidden {
    font-weight: bold;
    margin-left: 30px; }

.grid__col--6:not(.theme__colors) {
  align-self: center; }

.headline--secondary {
  font-weight: normal; }

.grid__col--12 {
  display: flex;
  flex-direction: column; }
  .grid__col--12 .btn--default {
    padding: 15px;
    background-color: #00FFFF;
    color: white;
    border-style: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .grid__col--12 .btn--success {
    padding: 15px;
    background-color: #228B22;
    color: white;
    border-style: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .grid__col--12 .btn--error {
    padding: 15px;
    background-color: #B22222;
    color: white;
    border-style: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .grid__col--12 .btn--warning {
    padding: 15px;
    background-color: #FF7F50;
    color: white;
    border-style: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .grid__col--12 .btn--info {
    padding: 15px;
    background-color: #8A2BF2;
    color: white;
    border-style: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 25px; }

.grid__col--12.theme__colors {
  padding: 15px;
  background-color: #5F9EA0;
  border-radius: 5px; }

.grid__col--6.theme__colors {
  padding: 15px;
  background-color: #1a8cff;
  border-radius: 5px; }

.grid__col--4.theme__colors {
  flex: 1;
  padding: 15px;
  background-color: #00FFFF;
  border-radius: 5px; }

.grid__col--3.theme__colors {
  padding: 15px;
  background-color: #9932CC;
  border-radius: 5px; }

.grid__col--5.theme__colors {
  padding: 15px;
  background-color: #8FBC8F;
  border-radius: 5px; }

.grid__col--7.theme__colors {
  padding: 15px;
  background-color: #E9967A;
  border-radius: 5px; }

.grid__col--8.theme__colors {
  padding: 15px;
  background-color: #FFC299;
  border-radius: 5px; }

@media (min-width: 768px) {
  .nav li {
    display: inline-block; }

  .container {
    width: 80%;
    margin: 0 auto; }

  .grid__col--8:not(.theme__colors) {
    max-width: 100%;
    flex-basis: 66%; }

  .grid__col--4:not(.theme-colors) {
    max-width: 100%;
    flex-basis: 30%; }

  .grid__col--6:not(.theme-colors) {
    text-align: center; }
    .grid__col--6:not(.theme-colors) .img--frame {
      width: 65%; }

  .grid__col--12 {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .grid__col--12 button {
      flex: 1;
      margin-left: 20px; }

  .grid__col--7 {
    text-align: center;
    margin: 0 auto; }

  .grid__col--4.theme__colors {
    text-align: center; }

  .grid__col--3 {
    text-align: center; }

  .grid__col--5 {
    text-align: center; }

  .grid__col--8.theme__colors {
    text-align: center; } }

/*# sourceMappingURL=styles.css.map */
