@mixin button {

.btn--default {
	   padding: 15px;
	   background-color: #00FFFF;
	   color: white;
	   border-style: none;
	   border-radius: 5px;
	   text-transform: uppercase;
	   margin-bottom: 25px;
	}

	.btn--success {
	   padding: 15px;
	   background-color: #228B22;
	   color: white;
	   border-style: none;
	   border-radius: 5px;
	   text-transform: uppercase;
	   margin-bottom: 25px;
	}

	.btn--error {
	   padding: 15px;
	   background-color: #B22222;
	   color: white;
	   border-style: none;
	   border-radius: 5px;
	   text-transform: uppercase;
	   margin-bottom: 25px;
	}

	.btn--warning {
	   padding: 15px;
	   background-color: #FF7F50;
	   color: white;
	   border-style: none;
	   border-radius: 5px;
	   text-transform: uppercase;
	   margin-bottom: 25px;
	}

	.btn--info {
	   padding: 15px;
	   background-color: #8A2BF2;
	   color: white;
	   border-style: none;
	   border-radius: 5px;
	   text-transform: uppercase;
	   margin-bottom: 25px;
	}
}