@mixin form {

.form {
	@include flex;
	@include flex-direction-col;

	.theme__colors {
	background-color: #00FFFF;
	color: white;
	border-radius: 5px;
	padding: 15px;
	border-style: none;
	text-transform: uppercase;
	font-weight: bold;
}
	
	.img--avatar {
	   align-self: center;
	}

	.form__input {
	  border: none;
	  border-bottom: 5px solid #7FFFD4;
	  margin-left: 15px;
	  margin-right: 15px;

	  &[placeholder*="Username"] {
	     margin-bottom: 50px;
	  }

	  &[placeholder*="Password"] {
	     margin-bottom: 20px;
	  }

	  &::placeholder {
	     opacity: 0;
	  }
	}

	.form__label--hidden {
	   font-weight: bold;
	   margin-left: 30px;
	}
}
}
