// **************************************
// index.scss
// Main Sass file used to import partials
// **************************************


// NOTE: import utilities and base partials here:



// import components partials
@import 'components/index';


* {
	box-sizing: border-box;
}

 
	.grid__col--3 {
         text-align: center;
	}

	.nav {
	   list-style-type: none;
       padding: 0;
       text-align: center;
       max-width: 100%;
      
       li:first-child {
        background-color: #7FFFD4;
        border-radius: 5px;

        a:link {
           color: white;
        }

        a:visited {
          color: white;
        }
       }

       li {
         padding: 20px;
       }

	   a {
	     text-decoration: none;
	     &:link {
	       color: initial;
	     }

	     &:visited {
	       color: initial;
	     }
	   }
	}

    .card {
      line-height: 1.5;
      padding: 10px;
      max-width: 100%;

      .blockquote {
        font-size: 2em;
        font-style: italic;
        border-left: 10px solid #7FFFD4;
        border-radius: 5px;
        padding: 25px;
      }

      .headline--secondary {
         padding-left: 5px;
         font-weight: normal;
      }

      .headline--primary {
         color: #7FFFD4;
         width: 60%;
         padding-left: 30px;
      }

      p {
        .link {
          text-decoration: none;
          font-weight: bold;

         &:link {
            color: #00FFFF;
         }

         &:visited {
            color: #00FFFF;
         }
       }
      }
    }

.container {
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
}